.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  padding: 16px;
  background-color: green;
  font: inherit;
  color: White;
  cursor: pointer;
  border-radius: 10px 12px;
}
.Cockpit buton:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Red {
  background-color: red;
}

.Cockpit button.Red:hover {
  background-color: salmon;
  color: black;
}
